---
layout: default
title: Blog
excerpt: 'Passionate programmer. *nix user since 1999. Husband/Father. Teacher.'
---

<section class="posts">
  {% for post in site.posts limit:5 %}
    <article class="post post-excerpt">
      <header>
        <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="meta">{{ post.date | date_to_string }}</h3>
      </header>
      <div class="content">
        {% if post.excerpt %}
            {{ post.excerpt | markdownify }}
        {% else %}
            {{ post.content }}
        {% endif %}
      </div>
    </article>
  {% endfor %}

  <div class="pagination" style="text-align:center">
    <a href="/blog" class="pagination">More entries</a>
  </div>
</section>
