<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Andrea Pavoni</title>

    <meta charset=utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheet application %}
    <link rel="canonical" href="http://andreapavoni.com{{ page.url }}" />

    <meta content="Andrea Pavoni" name="author">
    <meta content="en" name="language">
    <meta name="description" content="{{ page.excerpt }}"/>

    <meta property="og:title" content="{{ page.title }} - Andrea Pavoni" />
    <meta property="og:url" content="http://andreapavoni.com{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.gravatar.com/avatar/c96743368f88cd325e8ae414d267dbaa.png" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@apeacox" />
    <meta property="twitter:title" content="{{ page.title }} - Andrea Pavoni" />
    <meta property="twitter:description" content="{{ page.excerpt }}" />
    <meta property="twitter:image" content="http://www.gravatar.com/avatar/c96743368f88cd325e8ae414d267dbaa.png" />
    <meta property="twitter:url" content="http://andreapavoni.com{{ page.url }}" />

  </head>
  <body>
    <aside class="cover">
      <div class="inner">
        <h1 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
        <p class="description">
          Passionate programmer. *nix user since 1999. Husband/Father. Teacher.
        </p>
        <p class="description">Developer @ <a href="http://cantierecreativo.net">CantiereCreativo</a></p>
        <ul class="contacts">
          <li><a href="http://github.com/apeacox/" class="fa fa-github fa-lg" title="github"></a></li>
          <li><a href="http://twitter.com/apeacox/" class="fa fa-twitter fa-lg" title="twitter"></a></li>
          <li><a href="http://it.linkedin.com/in/andreapavoni/" class="fa fa-linkedin fa-lg" title="LinkedIn"></a></li>
          <li><a href="https://plus.google.com/+AndreaPavoni?rel=author" class="fa fa-google-plus fa-lg" title="Google+"></a></li>
          <li><a href="http://www.facebook.com/apavoni" class="fa fa-facebook fa-lg" title="facebook"></a></li>
          <li><a href="http://instagram.com/apavoni" class="fa fa-instagram fa-lg" title="instagram"></a></li>
        </ul>
      </div>
    </aside>
    <section class="wrapper">
      <div class="wrapper-inner">
        {{ content }}
      </div>

      <footer class="wrapper-footer">
        <p>assembled with ♥ by <a href='http://andreapavoni.com'>Andrea Pavoni</a> &copy;2010 - 2014</p>
      </footer>
    </section>

    {% include _analytics.html %}
  </body>
</html>
