---
layout: default
---

<article class="post">
  <header>
    <p class="meta">{{ page.date | date_to_string }}</p>
    <h1 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  </header>

  <div class="content">
    {% if page.external_link %}
      <div class="external">
        <a href="{{ page.external_link }}">{{ page.external_link }} &rarr;</a>
      </div>
    {% endif %}

    {{ content }}
  </div>

  <footer>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_hackernews"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_facebook"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5359113314750bd5"></script>
    <!-- AddThis Button END -->
  </footer>

  <div id="disqus_thread">
    {% include _disqus.html %}
  </div>
</article>
